---
import Layout from "@/layouts/Layout.astro";
import proyectos from "../../proyectos.js";
import Github from "@/components/icons/Github.astro";
import ExternalLink from "@/components/icons/ExternalLink.astro";
import TechnologyPill from "@/components/TechnologyPill.astro";
import Testimonio from "@/components/Testimonio.astro";

export function getStaticPaths(){
    return proyectos.map((proyecto) => {
        return {
            params: {
                nombre: encodeURIComponent(proyecto.title.toLowerCase().replaceAll(/\s+/g, "-"))
            }
        }
    })
}
const { nombre } = Astro.params;
const { id, src, title, description, technologies, web, github, testimonials } = proyectos.find((proyecto) => encodeURIComponent(proyecto.title.toLowerCase().replaceAll(/\s+/g, "-")) === nombre);
---

<Layout title={`Proyecto ${title}`} description={description.join(" ")}>
    <nav class='w-full fixed top-0 left-0 flex justify-center py-2 z-50'>
        <div class="bg-black/70 px-4 py-1 rounded-md flex gap-4 backdrop-blur-xl">
            <a href="/">Inicio</a>
        </div>
    </nav>

	<main class='w-[90%] max-w-[1000px] mx-auto my-8 flex flex-col gap-8 text-white/85'>
        <h1 transition:name={`title-${id}`} class='text-4xl font-bold text-center mt-8 p-1 text-ellipsis overflow-hidden'>{title}</h1>

        <div class="w-full max-w-screen-md h-[min(500px,80vmin)] mx-auto overflow-hidden">
            <img transition:name={`img-${id}`} src={src} alt={`${title} image`} class='w-full h-full object-cover rounded-lg hover:scale-105 transition-all' />
        </div>

        <h3 class="text-2xl text-center uppercase">Descripción</h3>
        <div transition:name={`desc-${id}`} class="mx-auto">
            {
                description.map(p => (
                    <p class="text-lg max-w-[60ch] text-pretty mb-8">{p}</p>
                ))
            }
        </div>

        <div class="flex justify-around items-center gap-4">
            {
                github != undefined && (
                    <a transition:name={`github-${id}`} class="group flex gap-2 justify-center items-center p-2 outline outline-2 hover:outline-4 outline-slate-500 rounded-md transition-all duration-200 ease-linear" href={github} target="_blank">
                        <Github class="transition duration-200 group-hover:-translate-y-0.5" />
                        <span>Código</span>
                    </a>
                )
            }
            {
                web != undefined && (
                    <a transition:name={`web-${id}`} class="group flex gap-2 justify-center items-center p-2 outline outline-2 hover:outline-4 outline-slate-500 rounded-md transition-all duration-200 ease-linear" href={web} target='_blank'>
                        <ExternalLink class="transition duration-200 group-hover:-translate-y-0.5" />
                        <span>Ir al sitio</span>
                    </a>
                )
            }
        </div>

        <h3 class="text-2xl text-center uppercase mt-4">Tecnologías utilizadas</h3>
        <div class="mx-auto text-2xl flex flex-wrap gap-4">
            {
                technologies.length > 0 && (
                    technologies.map(technology => (
                        <TechnologyPill technology={technology} />
                    ))
                )
            }
        </div>

        {
            testimonials && testimonials.length > 0 && (
                <>
                    <h3 class="text-2xl text-center uppercase mt-4">Testimonios </h3>

                    {
                        testimonials.map(({name, testimonial}) => (
                            <Testimonio name={name} testimonial={testimonial} />
                        ))
                    }
                </>
            )
        }
        
	</main>
</Layou>