---
import ExternalLink from './icons/ExternalLink.astro';
import Github from './icons/Github.astro';

interface Props {
    id: number;
	src: string;
	title: string;
    description: string[];
    github?: string;
    web?: string;
    reciente?: boolean;
}

const { id, src="https://picsum.photos/500", title="Sin título", description=["Sin descripción"], github, web, reciente=false } = Astro.props;

const BASE_URL = import.meta.env.DEV ? "" : "https://manueldealba.com"
---

<div class="relative flex flex-col bg-slate-700 max-w-full rounded-md overflow-hidden">
    {
        reciente == true && (
            <div class="bg-gradient-to-r from-blue-700 to-blue-900 text-white text-center absolute top-4 right-4 z-10 px-4 py-1 rounded-md">
                <span>Más reciente</span>
            </div>
        )
    }

    <figure class="w-full h-[300px] overflow-hidden">
        <img transition:name={`img-${id}`} class="w-full h-full object-cover hover:scale-110 transition-all" src={src} alt="Proyecto skillup" />
    </figure>

    <div class="flex flex-col flex-1 p-8">
        <h3 transition:name={`title-${id}`} class='text-2xl font-bold mb-4'>{title}</h3>
        <div transition:name={`desc-${id}`} class="flex-1">
            {
                description.map(p => (
                    <p class="text-lg max-w-[60ch] text-pretty mb-8">{p}</p>
                ))
            }
        </div>

        <div class="flex justify-evenly items-center gap-4">
            {
                github != undefined && (
                    <a transition:name={`github-${id}`} class="w-[30px] text-xl" href={github} target="_blank">
                        <Github class="transition hover:-translate-y-1" />
                    </a>
                )
            }
            {
                web != undefined && (
                    <a transition:name={`web-${id}`} class="w-[30px] text-xl" href={web} target='_blank'>
                        <ExternalLink class="transition hover:-translate-y-1" />
                    </a>
                )
            }
        </div>

        <a class="block px-4 py-2 bg-blue-700 rounded-md text-center mt-8" href={`${BASE_URL}/proyecto/${encodeURIComponent(title.toLowerCase().replaceAll(/\s+/g, "-"))}`}>Ver proyecto</a>
    </div>
</div>